body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

* a {
  text-decoration: none;
  color: white;
}

* hr {
  opacity: 0.5;
  margin: 40px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  max-width: 1200px;
  padding: 0 80px;
  margin: 0 auto;
}

.nav-wrapper {
  background-image: linear-gradient(
    45deg,
    rgba(16, 2, 146, 0.9),
    rgba(0, 92, 255, 0.9),
    #007aff
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  position: sticky;
  padding-bottom: 2rem;
  color: white;
  z-index: 3;
}

.sub-nav {
  text-align: right;
  padding: 1.24rem 0;
  padding-left: 1.24rem;
  font-size: 12px;
}

.sub-nav span {
  margin-left: 2rem;
}

.fas {
  margin-right: 8px;
}

.fa-shopping-cart {
  margin-left: 30px;
}

.main-nav {
  width: 100%;
  align-items: center;
  height: 22px;
  font-size: small;
  justify-content: flex-start;
}

.nav-brand-wrapper {
  margin-right: 8rem;
  background-image: url(../images/nh-logo.svg);
}

.nav {
  opacity: 1%;
}

.navigation {
  justify-content: space-between;
  flex: auto;
  align-items: center;
  margin: auto;
}

.login {
  padding: 7px 22px 5px;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: white; 
}

/** Header Document **/

.document-header-wrapper {
  background-image: linear-gradient(
    45deg,
    #00349b,
    rgba(0, 94, 255, 0.922),
    #007aff
  );
  color: white;
  padding-bottom: 50px;
}

.hero {
  align-items: center;
}

.hero-left {
  width: 45%;
}

.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 30px;
}

.hero-description {
  line-height: 25px;
  letter-spacing: 0.05em;
}

.hero-left p {
  font-size: 14px;
}

.count-down {
  justify-content: flex-start;
}

.count-down p {
  font-size: 30px;
}

.countdown p:nth-child(even) {
  position: relative;
  top: 5px;
  font-size: 20px;
}

.countdown p:nth-child(odd) {
  position: relative;
  margin: 10px;
  font-size: 40px;
}

.countdown p:nth-child(1)::after {
  content: "hari";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(3)::after {
  content: "jam";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(5)::after {
  content: "menit";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.countdown p:nth-child(7)::after {
  content: "detik";
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 2px;
}

.btn-1 {
  top: 700px;
  left: 250px;
  position: absolute;
}
.hero-right {
  flex: 55%;
}

.hero-img-wrapper {
  width: 100%;
}

.hero-img {
  width: 100%;
}

.orange {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background: #fb8c00;
  border: none;
  font-weight: bold;
}

/** main document**/
main {
  color: #3a4166;
}

/** layanan**/

.layanan-wrapper {
  width: 100%;
  padding: 70px 0 65px;
  background: #f6fbff;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 33px;
  font-weight: bold;
}

.card-column-wrapper {
  align-content: center;
  justify-items: center;
  width: 100%;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
  background: #fff;
  flex: 25%;
  display: inline-block;
  transition: all 0.4s;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
  text-align: center;
  padding: 55px 20px;
}

.layanan {
  height: 300px;
  margin-bottom: 50px;
}

.layanan figcaption {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  font-weight: bold;
}

.layanan-deskripsi {
  font-size: 14px;
  color: rgba(58, 65, 102, 0.7);
  margin-bottom: 24px;
}

.layanan-price-intro {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.7;
}

.layanan-price {
  font-family: NunitoSansBold, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.layanan-row {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 510px;
  text-align: left;
  align-items: center;
  padding: 25px;
}

.layanan-row figcaption {
  font-family: NunitoSansBold, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.layanan-row a {
  color: #007aff;
}

/** Start prioritas dan keamanan dan biaya hebat kualitas hemat**/

.priority-wrapper {
  padding-bottom: 100px;
}

.priority-content-wrapper {
  position: relative;
  left: 54px;
  justify-content: space-between;
}

.cost-saving-content-wrapper {
  position: relative;
  left: 54px;
  justify-content: space-between;
}

.priority-feature-wrapper,
.cost-saving-feature-wrapper {
  width: 40%;
}

.priority-feature,
.cost-saving-feature {
  position: relative;
}

.priority-description,
.cost-saving-description {
  font-size: 16px;
  opacity: 0.7;
}

.priority-feature:first-child::before {
  content: url("../images/hosting-super-cepat.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.priority-feature:nth-child(2)::before {
  content: url("../images/domain-keamanan-ekstra.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.priority-image-wrapper,
.cost-saving-image-wrapper {
  position: relative;
  width: 50%;
}

.priority-graphic-img {
  position: absolute;
  z-index: 2;
  left: -64px;
  top: 150px;
}

.priority-imunify-img {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: -60px;
}

.priority-speed-img {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: -5px;
}

.cost-saving-wrapper {
  padding: 60px 0 70px;
  background: #f6fbff;
}

.cost-titis img {
  z-index: -1;
}

.cost-saving-feature:first-child::before {
  content: url("../images/icons-domain-harga-murah.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.cost-saving-feature:nth-child(2)::before {
  content: url("../images/icons-website-selalu-online.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.cost-saving-feature:nth-child(3)::before {
  content: url("../images/icons-domain-support-andal.svg");
  position: absolute;
  top: -10px;
  left: -94px;
}

.cost-woman1-img {
  position: absolute;
  top: 90px;
  left: -20px;
}

.cost-woman2-img {
  position: absolute;
  top: 90px;
  right: 20px;
}

.cost-man-img {
  position: absolute;
  bottom: 30px;
  left: 60px;
}

.cost-intercom-img {
  position: absolute;
  top: -20px;
  left: 60px;
}

.cost-online-img {
  position: absolute;
  bottom: 20px;
  right: 85px;
}

/** Start kata pelanggan **/

.customer-content-wrapper {
  justify-content: space-around;
  width: 100%;
}

.customer {
  width: 100%;
  margin: 0 20px;
}

.customer-testimony {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 30px;
}

.owner {
  font-family: "NunitoSansBold", sans-serif;
  font-size: 16px;
  margin-top: 30px;
}

.owner span {
  opacity: 0.7;
}

/** Pilih paket hosting anda **/

.package-wrapper {
  background: #f6fbff;
  padding-top: 10px;
  padding-bottom: 70px;
}

.card-wrapper {
  justify-content: space-between;
  margin-top: 120px;
  
}

.card-package {
  position: relative;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 15px;
}

.package-title {
  background: #00bfa5;
  font-family: "NunitoSansBold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  width: 100%;
  top: -18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 0;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.package-name {
  font-weight: 600;
  line-height: 1.2;
  font-family: "NunitoSansBold", sans-serif;
  font-size: 25px;
  margin-bottom: 40px;
}

.package-discount {
  font-size: 15px;
  opacity: 0.7;
  text-decoration: line-through;
}
.btn-hero{
  margin-top:5px ;
}
.visibiliti-none {
  visibility: hidden;
}

.package-price {
  font-family: NunitoSansBold, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #007aff;
  margin-bottom: 37px;
  margin-top: 0;
  padding-right: 24px;
  position: relative;
}

.package-price::after {
  font-size: 14px;
  content: "/bln";
  color: #3a4166;
  opacity: 0.7;
  position: absolute;
  right: 15px;
  bottom: 8px;
}
.package-feature-wrapper{
  padding: 0px 22px ;
}
.package-feature::before {
  content: url("../images/icon-question-mark.svg");
  margin-right: 5px;
}

.package-detail {
  font-size: 16px;
  color: #007aff;
  margin-top: 30px;
}

.package-description {
  opacity: 0.7;
  display: block;
  margin: 30px 0;
  padding: 0 5px;
  font-size: 12px;
}

.package-feature-wrapper {
  text-align: left;
}

.package-feature {
  width: 100%;
}

/** Start client **/
.client-wrapper {
  padding-top: 20px;
}

.client-list-wrapper {
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 50px;
}
.client-list-wrapper li{
text-decoration: none;
color: white;
}
.client-img {
  width: 160px;
  height: 110px;
  display: inline-block;
}
.client-img:hover {
  filter:none;
  opacity: 1;
}
.richeese {
  background: url("../images/richeese.svg") no-repeat;
}

.rabbani {
  background: url("../images/rabbani.svg") no-repeat;
}

.otten {
  background: url("../images/oten.svg") no-repeat;
}

.hydro {
  background: url("../images/hydro.svg") no-repeat;
}

.petro {
  background: url("../images/petro.svg") no-repeat;
}

/** pertanyaan yang sering diajukan css **/

.faq-wrapper {
  padding: 70px 0;
}

.question-wrapper {
  width: 900px;
  margin: 0 auto;
}

.question {
  font-size: 15px;
  text-align: left;
}
hr {
  color: rgba(0, 92, 255, 0.9);
}

.img-right {
  float: right;
  top: -30px;

  position: relative;
}

.img-right-weird {
  float: right;
  position: relative;
  top: -110px;
}

/**garansi**/

.garansi-wrapper {
  background-color: #f6fbff;
  margin-top: -30px;
  height: 430px;
}

.garansi-konten-wrapper {
  padding-top: 90px;
}

.garansi-img-wrapper {
  width: 50%;
  text-align: center;
}

.garansi-deskripsi {
  font-size: 18px;
  opacity: 0.7;
  line-height: 2em;

  margin: 30px 0 40px;
}

.garansi-deskripsi-wrapper .heading {
  text-align: left;
  margin: 0;
}

/** pembayaran **/

.pembayaran-wrapper {
  padding: 30px 0;
}

.pembayaran-img-wrapper {
  flex-wrap: wrap;
  margin: 0 100px;
}

.pembayaran-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: NunitoSansBold, sans-serif;
  font-weight: 700;
}

.pembayaran-img {
  filter: grayscale();
  -webkit-filter: grayscale();
  opacity: 0.4;
  margin: 10px;
}
.pembayaran-img:hover {
  filter:none;
  opacity: 1;
}

/** promosi **/

.offering-wrapper {
  background-image: linear-gradient(
    45deg,
    #00349b,
    rgba(0, 92, 255, 0.9219),
    #007aff
  );
  padding: 60px 0;
}

.offering {
  align-items: center;
}

.offering-title-wrapper {
  width: 50%;
}

.offering-title {
  width: 100%;
  margin: 0 auto;
  font-family: NunitoSansBold, sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  max-width: 524px;
}

.btn-wrapper {
  width: 50%;
  text-align: center;
}

.offering-btn {
  display: inline-block;
}

/** footer section **/

footer {
  font-size: 14px;
  background: #333;
}

.footer-content-wrapper {
  justify-content: space-between;
}

.footer-content-wrapper:nth-child(2) {
  margin-bottom: 25px;
}

.footer-content-list-wrapper {
  width: 25%;
}

.footer-content-title {
  font-family: NunitoSansBold, sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  color: #c4c4c4;
}

.footer-content-list {
  color: #fff;
}

#email {
  outline: none;
  border: none;
  background: 0;
}

#email::placeholder {
  color: #fff;
}

#email::-moz-placeholder {padding-right: 1px;
  padding-left: 1px;
  color: #fff;
}

.footer-content-list-wrapper hr {
  margin: 25px 0;
}

::-webkit-placeholder {
  color: #fff;
}

.newsletter-btn-wrapper {
  width: 100%;
  text-align: right;
}

.footer-icon-wrapper {
}

.footer-icon-wrapper a {
  display: inline-block;
  width: 45px;
  padding: 9px 0;
  border-radius: 50%;
  color: white;
  margin: 5px 10px;
  text-align: center;
  background-color: rgb(71, 99, 158);
}

.footer-icon-wrapper a:nth-child(2) {
  content: "";
  background-color: #ee4957;
}

.footer-icon-wrapper a:nth-child(3) {
  content: "";
  background-color: #007ab9;
}

.footer-icon-wrapper a:nth-child(4) {
  content: "";
  background-color: #55acee;
}

.fab {
  display: block;
  font-size: 1.5rem;
  vertical-align: text-bottom;
}

.copyright {
  display: inline-block;
  width: 50%;
  font-size: 10px;
  color: #fff;
  vertical-align: top;
  margin: 0;
}

.terms-condition {
  vertical-align: top;
  display: inline;
  font-size: 10px;
  float: right;
}
